.mail{
    width: 100%;
    margin-top: 50px;
    background-color: #003580;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px;
  }
  
  .mailInputContainer>input{
    width: 300px;
    height: 30px;
    padding: 10px;
    border: none;
    margin-right: 10px;
    border-radius: 5px;
  }
  
  .mailInputContainer>button{
    padding: 8px 10px;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2GFPSXKArnHJ54hEHv_EQ0iSHKJ3mzkMM9Q&usqp=CAU');
    background-color: #000000;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }